@font-face {
  font-family: "Magiona Display";
  src: url("/font.woff");
  src: url("/font.woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Magiona Display", serif;
  font-size: 32px;
  padding: 10px;
}

